* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    line-height: 1.5;
}

h1{
    font-size: 50px;
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
}

fieldset{
    height: 250px;
    width: 50%;
}

.userHandle_input{
    text-align: center;
}

legend, button, input {
    margin: 20px;
}

.display{
    margin-top: 30px;
}

.error_txt {
    font-size: 30px;
    color: red;
}

section{
    margin-top: 50px;
}

.repo_list{
    text-align: left;
}

.repo_list > li {
    font-size: 25px;
    line-height: 2;
}